
.button {
    background: none;
    border: transparent;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: .1s;
    padding: 10px 20px;
    font-size: 14px;

    @media (max-width: 768px) {
        padding: 12px 24px;
        font-size: 18px;
    }



    &.no-border {
        color: var(--color-secondary);
        background-color: var(--color-background);
        border-radius: 4px;

        &:hover:not(:disabled) {
            background-color: var(--color-background-light);
        }

      &:disabled {
        cursor: not-allowed;
        color: gray;
      }
    }
}


    