
.button {
    background: none;
    border: transparent;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: .1s;
    padding: 10px 20px;



    &.no-border {
        color: var(--color-secondary);
        background-color: var(--color-background);
        border-radius: 4px;

        &:hover:not(:disabled) {
            background-color: var(--color-background-light);
        }

      &:disabled {
        cursor: not-allowed;
        color: gray;
      }
    }
}