
.button {
    background: none;
    color: wheat;
    border: navajowhite;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: opacity .3s;
    position: relative;
    padding: 10px 20px;

    &::before {
        content: '';
        position: absolute;
        top: 20.5px;
        left: 20.5px;
        width: 6px;
        height: 6px;
        border-radius: 4px;
        background-color: wheat;
        opacity: 0;
        transition: .3s;
        pointer-events: none;
    }

    &:hover {
        &::before {
          transform: translateY(-22px);
            opacity: 1;
        }
    }

    &:disabled {
        cursor: not-allowed;
        color: gray;
    }
}