

.calculateSection {
  border: none;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: var(--color-surface-disabled);

  .costItem {
    display: flex;
  }

  .costItem::after {
    content: " KZT";
  }
}