.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);

  padding: 20px;

  .title {
    font-weight: 100;
    font-size: 50px;
    color: var(--color-primary);
    margin-bottom: 120px;
  }

  .titleWrapper {
    position: relative;
    display: inline-block;
  }

  .dot {
    position: absolute;
    top: -40px;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;
  }

  .subtitle {
    margin-bottom: 20px;
    ;
  }
}

@keyframes bounce {
  0%, 100% {
    top: -50px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 0px;
    animation-timing-function: ease-out;
  }
}