.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;

  .title {
    font-weight: bold;
    color: white;
    margin-bottom: 120px;
  }

  .subtitle {
    margin-bottom: 20px;
    ;
  }
}