.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);

  padding: 20px;

  .title {
    font-weight: 100;
    font-size: 50px;

    color: #fe00d3;
    margin-bottom: 120px;
  }

  .subtitle {
    margin-bottom: 20px;
    ;
  }
}