
body {
  padding: 0;
  margin: 0;
  background-color: rgb(32 27 32);
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;

  #root {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
  }
}

:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 400;


}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

